/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** HEADER ***********/

/****** Logo And Nav ***********/

.logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-and-nav ul {
    display: flex;
    list-style-type: none;
}

.logo-and-nav li {
    position: relative;
    top: -20px;
    margin-left: 50px;
    padding-top: 15px;
    font-size: 15px;
    border-top: 2.5px solid transparent;
}


li:hover {
    color: var(--main-color);
    border-top: 2.5px solid var(--main-color);
}


/****** MAIN *************/

/****** Recherche And Filtres ***********/
.recherche-and-filtres {
    margin-top: 35px;
}

.recherche-title h1 {
    margin-bottom: 7.5px;
    font-size: 20px;
}

.recherche-title p {
    margin-top: 7.5px;
    font-size: 15px;
}

.recherche form {
    display: flex;
    margin: 30px 0;
    height: 45px;
}


form .fa-location-dot {
    color: black;
}

form #location {
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 45px;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form #search {
    border: 1px solid #f2f2f2;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-left: none;
    border-right: none;
    width: 178px;
}

.custom-placeholder::placeholder {
    color: black;
}

form .btn-search {
    font-weight: 515;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: none;
    color: white;
    width: 115px;
}

form .btn-search .text {
    margin: 0;
}

form .btn-search .fa-magnifying-glass {
    display: none;
}


.filtres .filtres-title {
    font-weight: bold;
    margin-right: 10px;
}

.filtres .btn-filtres {
    display: flex;
}

.btn-filtres .btn-filtres-1,
.btn-filtres-2 {
    display: flex;
}

.filtres button {
    margin-right: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #d9d9d9;
    font-weight: bold;
    border-radius: 40px;
    font-size: medium;
    height: 45px;
}

.filtres i {
    margin-right: 10px;
    font-size: large;
}

.filtres button:hover {
    background-color: #DEEBFF;
}

.filtres .info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.info p {
    font-size: 15px;
}

.info .info-icon {
    border: 1px solid #d9d9d9;
    margin-right: 9px;
    border-radius: 50%;
}

.info .info-icon i {
    padding: 8px;
    font-size: 10px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    margin-top: 33px;
    width: 30%;
}

.hebergements-cards .card {
    height: 188px;
}

.hebergements-cards img {
    width: 100%;
    height: 54%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    margin-top: -10px;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-size: 15px;
    margin-bottom: 15px;
}

.hebergements-cards .card-subtitle {
    font-size: 13px;
    margin-bottom: 5px;
}

.hebergements-cards .afficher-plus {
    margin-top: 32.5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/
.activites-a-marseille {
    margin-top: 60px;
}

.activites {
    padding: 0 30px;
}

.activites-title {
    margin-bottom: 35px;
}

.activites-cards a {
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    width: 23%;
    height: 400px;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding-left: 20px;
}

.activites-cards .card-title {
    font-size: 15px;
}

main {
    margin-bottom: 60px;
}


/******* Footer ********/
.footer {
    display: flex;
    background-color: #F2F2F2;
    padding-left: 20px;
    justify-content: space-between;
}

.footer section {
    width: 30%;
}

section .footer-title h3 {
    margin-bottom: 0;
    width: 100%;
}

section .footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content a {
    margin-top: 15px;
}


.bloc-footer {
    height: 50px;
    margin: 0 -58px -15px;
    background-color: #F2F2F2;
}

body {
    overflow-x: hidden;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres .filtres-title {
        font-size: larger;
        margin: 0;
    }

    .filtres .btn-filtres-1,
    .btn-filtres-2 {
        margin-top: 50px;
    }

    .btn-filtres .btn-filtres-1 {
        margin-left: -60px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        height: 175px;
    }

    .hebergements-cards img {
        height: 58%;
    }

    .hebergements-cards .card-title {
        margin-bottom: 7px;
    }

    .hebergements-cards .card-subtitle {
        margin-top: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card {
        height: 270px;
    }

    .activites-cards img {
        height: 200px;
    }

    .footer {
        margin-bottom: -15px;
    }

    .footer {
        font-size: smaller;
    }

    .bloc-footer {
        display: none;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    .logo-and-nav {
        flex-direction: column;
        margin-top: 20px;
    }

    .logo-and-nav nav {
        margin-top: 15px;
        width: 100%;
    }

    .logo-and-nav ul {
        padding-left: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .logo-and-nav .item {
        margin-left: 0;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 15px;
    }

    .item:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    .recherche-and-filtres {
        margin-top: -22.5px;
        padding: 0 15px;
    }


    .recherche-and-filtres .recherche-title {
        text-align: left;
    }

    .recherche-and-filtres form .text {
        display: none;
    }

    .recherche-and-filtres form .fa-magnifying-glass {
        display: inline;
        color: white;
    }

    .recherche-and-filtres form .btn-search {
        width: 50px;
        border-radius: 15px;
        margin-left: -12px;
    }

    .recherche-and-filtres form #search {
        width: 243px;
    }


    .filtres .filtres-title {
        font-size: larger;
        height: 22px;
    }

    .filtres .btn-filtres {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-filtres .btn-filtres-1 {
        margin-top: 25px;
    }

    .btn-filtres .btn-filtres-2 {
        margin-top: 25px;
    }

    .filtres .btn-filtres button {
        width: 160px;
        font-size: smaller;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .populaires {
        margin-top: 0;
        border-radius: 0;
        padding: 30px 20px 25px;
    }

    .populaires .populaires-cards {
        flex-direction: column;
    }

    .populaires .populaires-cards a {
        width: 100%;
    }

    .populaires-cards article.card {
        margin-top: 15px;
    }

    .populaires-cards img {
        width: 29%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        border-radius: 0;
        margin-top: 5px;
        padding: 30px 20px 25px;
    }

    .hebergements .hebergements-cards {
        flex-direction: column;
    }

    .hebergements .hebergements-cards a {
        width: auto;
        margin-top: 15px;
    }

    .hebergements-cards article.card {
        height: 205px;
    }

    .hebergements-cards img {
        height: 60%;
    }

    .hebergements-cards .card-title {
        margin-bottom: 0;
        font-size: 17px;
    }

    .hebergements-cards .card-subtitle {
        margin: 5px 0 2.5px;
        font-size: 15px;
    }

    .hebergements-cards .afficher-plus {
        margin-top: 0;
    }

    .activites-a-marseille {
        margin-top: 45px;
    }

    .activites .activites-cards a {
        flex-direction: column;
    }

    .activites .activites-title {
        margin-bottom: 32.5px;
    }

    .activites-cards article.card {
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }

    .activites-cards article.card img {
        height: 155px;
    }

    .activites-cards article.card .card-title {
        font-size: 16.5px;
    }

    main {
        margin-bottom: 50px;
    }

    .footer {
        flex-direction: column;
        padding: 10px 30px 0;
        font-size: 95%;
    }

    .footer section {
        margin-bottom: 15px;
    }

    .footer h3 {
        white-space: nowrap
    }

    .footer .footer-content {
        white-space: nowrap;
    }

}